In [1]:
import pandas as pd

# Load Branch Level Data and Member Level Data
branch_data = pd.read_csv("data/branch_data.csv")
member_data = pd.read_csv("data/member_data.csv")

# Merge the datasets based on "BranchCategory" column
merged_data = pd.merge(branch_data, member_data, on="BranchCategory")

In [4]:
import numpy as np
merged_data

,EOM_TRANS_DATE_x,BranchCategory,ATM,Bill Payment,Cash,Draft,ACH,Fee,Credit/Debit Card,Home Banking,...,ATMCount,BillPaymentCount,CashCount,DraftCount,ACHCount,FeeCount,Credit_DebitCount,Home_Banking,WireCount,DividendCount
0,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,...,0,1,0,0,0,0,3,0,0,1
1,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,...,0,0,0,0,0,0,4,0,0,1
2,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,...,0,0,0,0,0,0,1,0,0,0
3,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,...,0,0,0,0,0,0,1,0,0,0
4,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31565930,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,...,0,0,0,0,0,0,0,0,0,1
31565931,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,...,0,0,0,0,0,0,0,0,0,0
31565932,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,...,0,0,0,0,0,0,0,0,0,2
31565933,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,...,0,0,0,0,0,0,0,0,0,1
31565934,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,...,0,0,0,0,0,0,0,0,0,1

In [5]:
branch_data

,EOM_TRANS_DATE,BranchCategory,ATM,Bill Payment,Cash,Draft,ACH,Fee,Credit/Debit Card,Home Banking,Dividend
0,2022-01-31,Addition Financial Arena,0,3,0,28,5,20,6,4,14
1,2022-01-31,Altamonte Springs,98,394,64,469,1589,416,1642,646,3650
2,2022-01-31,Apopka,198,540,132,705,2219,560,1983,724,5731
3,2022-01-31,Boone High School,1,10,2,8,30,9,80,21,59
4,2022-01-31,Clermont,143,482,103,499,1940,539,1834,580,4551
...,...,...,...,...,...,...,...,...,...,...,...
726,2023-07-31,The Loop,66,155,68,210,871,287,1206,378,2218
727,2023-07-31,Timber Creek High School,0,3,0,4,20,10,60,14,35
728,2023-07-31,UCF Campus,30,92,11,153,715,192,839,250,1867
729,2023-07-31,Virtual Branch,56,98,10,325,426,611,1090,455,1285
730,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,6809

In [6]:
member_data

,Unique_Member_Identifier,EOM_TRANS_DATE,age,BranchCategory,address_zip,n_accts,n_checking_accts,n_savings_accts,n_open_loans,n_open_cds,...,ATMCount,BillPaymentCount,CashCount,DraftCount,ACHCount,FeeCount,Credit_DebitCount,Home_Banking,WireCount,DividendCount
0,360faa7e8e345d2725f92460ca39696ad885b876805328...,2022-01-31,85,Winter Garden,34760,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4ef271022b929dd2ea56f3c0e9a7efae346a07e40f6ea1...,2022-01-31,59,Lake Nona,34771,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,f868c8fb32d526c00024e408fdd712e881de936372bef8...,2022-01-31,38,MetroWest,32765,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4fe6ec028a8a5234bb02fbe97488fb9431109a292ee8bc...,2022-01-31,67,Kissimmee,34744,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
4,f46df5083939ce116be51669af3315c474655c936204c2...,2022-01-31,47,East Orlando,32825,3,2,1,0,0,...,0,0,0,0,0,1,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661360,20eab024af957a805a012e595e0af0bf75051a00b21e2d...,2023-07-31,38,Virtual Branch,33837,3,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1661361,afba048c3ec841ec67b2c9adf53cfdc59dc792dee9596f...,2023-07-31,25,The Loop,34744,2,1,1,0,0,...,0,0,0,4,0,1,0,0,0,0
1661362,28e1d759077e9b80fbf5c16a42e3bfa77010cd4d6c9681...,2023-07-31,25,St. Cloud,34744,2,1,1,0,0,...,0,0,0,0,0,0,2,0,0,1
1661363,743133ad370f2ff075dc8b454a7c99d3bd9c4f02eb9162...,2023-07-31,38,Sanford,32771,1,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
1661364,3c8ecc49183fdb9ca5eb0ade540e0810acb10b1c8c42fa...,2023-07-31,50,Virtual Branch,32808,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#Create column for total transcations of a row
branch_data['Total_Transactions'] = branch_data[['ATM', 'Bill Payment', 'Cash', 'Draft', 'ACH', 'Fee', 'Credit/Debit Card', 'Home Banking', 'Dividend']].sum(axis=1)

# Convert 'EOM TRANS DATE' to a datetime object for date-based operations
branch_data['EOM_TRANS_DATE'] = pd.to_datetime(branch_data['EOM_TRANS_DATE'])

# Sort the data by date
branch_data = branch_data.sort_values(by='EOM_TRANS_DATE')

# Calculate monthly transaction counts for each branch category
monthly_demand = branch_data.groupby(['BranchCategory', branch_data['EOM_TRANS_DATE'].dt.to_period('M')]).sum()

# Reset the index to make 'BranchCategory' and 'EOM TRANS DATE' as columns
monthly_demand = monthly_demand.reset_index()

# Pivot the data to have 'BranchCategory' as columns
monthly_pivot = monthly_demand.pivot(index='EOM_TRANS_DATE', columns='BranchCategory', values='Total_Transactions')

# Calculate the percentage change in demand over time for each branch category
demand_change = monthly_pivot.pct_change()

# Calculate the mean percentage change for each branch category
mean_demand_change = demand_change.mean()

# Sort the branch categories by their mean percentage change in descending order
sorted_branch_categories = mean_demand_change.sort_values(ascending=False)

# Print the branch categories with the highest increase in demand
print("Branch Categories with the Highest Increase in Demand:")
print(sorted_branch_categories.head())

Branch Categories with the Highest Increase in Demand:
BranchCategory
Edgewater High School    0.185996
Seminole State           0.047521
Lake Mary                0.047426
Colonial High School     0.041487
Poinciana High School    0.037805
dtype: float64

In [11]:
# Convert 'EOM_TRANS_DATE' to a datetime object for date-based operations
branch_data['EOM_TRANS_DATE'] = pd.to_datetime(branch_data['EOM_TRANS_DATE'])

# Sort the data by date
branch_data = branch_data.sort_values(by='EOM_TRANS_DATE')

# Filter data for the last 6 months
last_6_months = branch_data[branch_data['EOM_TRANS_DATE'] >= branch_data['EOM_TRANS_DATE'].max() - pd.DateOffset(months=6)]

# Calculate monthly transaction counts for each branch category in the last 6 months
monthly_demand = last_6_months.groupby(['BranchCategory', last_6_months['EOM_TRANS_DATE'].dt.to_period('M')]).sum()

# Reset the index to make 'BranchCategory' and 'EOM_TRANS_DATE' as columns
monthly_demand = monthly_demand.reset_index()

# Pivot the data to have 'BranchCategory' as columns
monthly_pivot = monthly_demand.pivot(index='EOM_TRANS_DATE', columns='BranchCategory', values='Total_Transactions')

# Calculate the percentage change in demand over the last 6 months for each branch category
demand_change = monthly_pivot.pct_change()

# Calculate the mean percentage change for each branch category
mean_demand_change = demand_change.mean()

# Sort the branch categories by their mean percentage change in descending order
sorted_branch_categories = mean_demand_change.sort_values(ascending=False)

# Print the branch categories with the highest increase in demand over the last 6 months
print("Branch Categories with the Highest Increase in Demand (Last 6 Months):")
print(sorted_branch_categories.head())

Branch Categories with the Highest Increase in Demand (Last 6 Months):
BranchCategory
Edgewater High School        0.151838
Timber Creek High School     0.081066
Lake Mary                    0.059995
Poinciana High School        0.058057
Lake Brantley High School    0.049479
dtype: float64

In [12]:
# Filter out rows where 'BranchCategory' contains 'High School'
filtered_branch_data = branch_data[~branch_data['BranchCategory'].str.contains('High School')]

In [13]:
filtered_branch_data

,EOM_TRANS_DATE,BranchCategory,ATM,Bill Payment,Cash,Draft,ACH,Fee,Credit/Debit Card,Home Banking,Dividend,Total_Transactions
0,2022-01-31,Addition Financial Arena,0,3,0,28,5,20,6,4,14,80
23,2022-01-31,Orange City,110,225,50,361,1172,336,920,392,2205,5771
24,2022-01-31,Oviedo,54,318,50,298,1235,210,994,381,3105,6645
25,2022-01-31,Pine Hills,244,283,185,698,1164,757,1410,456,4012,9209
26,2022-01-31,Poinciana,81,168,58,378,730,398,908,396,1896,5013
...,...,...,...,...,...,...,...,...,...,...,...,...
708,2023-07-31,Lake Nona,60,174,41,239,1138,350,1498,513,2892,6905
729,2023-07-31,Virtual Branch,56,98,10,325,426,611,1090,455,1285,4356
700,2023-07-31,East Orlando,158,472,121,724,3158,722,3627,1083,8395,18460
709,2023-07-31,Leesburg,81,154,52,286,872,249,963,280,2704,5641
730,2023-07-31,Winter Garden,167,448,114,665,2382,576,2933,774,6809,14868

In [17]:
#Create column for total transcations of a row
filtered_branch_data['Total_Transactions'] = filtered_branch_data[['ATM', 'Bill Payment', 'Cash', 'Draft', 'ACH', 'Fee', 'Credit/Debit Card', 'Home Banking', 'Dividend']].sum(axis=1)

# Convert 'EOM TRANS DATE' to a datetime object for date-based operations
filtered_branch_data['EOM_TRANS_DATE'] = pd.to_datetime(filtered_branch_data['EOM_TRANS_DATE'])

# Sort the data by date
filtered_branch_data = filtered_branch_data.sort_values(by='EOM_TRANS_DATE')

# Calculate monthly transaction counts for each branch category
monthly_demand = filtered_branch_data.groupby(['BranchCategory', filtered_branch_data['EOM_TRANS_DATE'].dt.to_period('M')]).sum()

# Reset the index to make 'BranchCategory' and 'EOM TRANS DATE' as columns
monthly_demand = monthly_demand.reset_index()

# Pivot the data to have 'BranchCategory' as columns
monthly_pivot = monthly_demand.pivot(index='EOM_TRANS_DATE', columns='BranchCategory', values='Total_Transactions')

# Calculate the percentage change in demand over time for each branch category
demand_change = monthly_pivot.pct_change()

# Calculate the mean percentage change for each branch category
mean_demand_change = demand_change.mean()

# Sort the branch categories by their mean percentage change in descending order
sorted_branch_categories = mean_demand_change.sort_values(ascending=False)

# Print the branch categories with the highest increase in demand
print("Branch Categories with the Highest Increase in Demand:")
print(sorted_branch_categories)

Branch Categories with the Highest Increase in Demand:
BranchCategory
Seminole State              0.047521
Lake Mary                   0.047426
Virtual Branch              0.025569
Eustis                      0.020099
The Loop                    0.018755
Longwood                    0.017001
Orange City                 0.016874
Poinciana                   0.015253
Lake Nona                   0.014768
Downtown Campus             0.014697
Sanford                     0.014636
Oviedo                      0.014507
Fern Park                   0.013997
Apopka                      0.013555
St. Cloud                   0.013178
Leesburg                    0.012480
Clermont                    0.012388
UCF Campus                  0.012305
East Orlando                0.012001
Merritt Island              0.011785
Winter Garden               0.011168
Kissimmee                   0.011042
South Orlando               0.010357
Altamonte Springs           0.009639
Mills                       0.009365
MetroWest                   0.008311
Pine Hills                  0.007908
Addition Financial Arena   -0.119844
UCF Commons                -0.144475
dtype: float64

In [16]:
# Convert 'EOM_TRANS_DATE' to a datetime object for date-based operations
filtered_branch_data['EOM_TRANS_DATE'] = pd.to_datetime(filtered_branch_data['EOM_TRANS_DATE'])

# Sort the data by date
filtered_branch_data = filtered_branch_data.sort_values(by='EOM_TRANS_DATE')

# Filter data for the last 6 months
last_6_months = filtered_branch_data[branch_data['EOM_TRANS_DATE'] >= filtered_branch_data['EOM_TRANS_DATE'].max() - pd.DateOffset(months=6)]

# Calculate monthly transaction counts for each branch category in the last 6 months
monthly_demand = last_6_months.groupby(['BranchCategory', last_6_months['EOM_TRANS_DATE'].dt.to_period('M')]).sum()

# Reset the index to make 'BranchCategory' and 'EOM_TRANS_DATE' as columns
monthly_demand = monthly_demand.reset_index()

# Pivot the data to have 'BranchCategory' as columns
monthly_pivot = monthly_demand.pivot(index='EOM_TRANS_DATE', columns='BranchCategory', values='Total_Transactions')

# Calculate the percentage change in demand over the last 6 months for each branch category
demand_change = monthly_pivot.pct_change()

# Calculate the mean percentage change for each branch category
mean_demand_change = demand_change.mean()

# Sort the branch categories by their mean percentage change in descending order
sorted_branch_categories = mean_demand_change.sort_values(ascending=False)

# Print the branch categories with the highest increase in demand over the last 6 months
print("Branch Categories with the Highest Increase in Demand (Last 6 Months):")
print(sorted_branch_categories)

Branch Categories with the Highest Increase in Demand (Last 6 Months):
BranchCategory
Lake Mary                   0.059995
Orange City                 0.031153
Eustis                      0.030665
Poinciana                   0.026942
The Loop                    0.025794
Leesburg                    0.025217
Sanford                     0.024877
Longwood                    0.024356
Apopka                      0.022608
UCF Campus                  0.022085
Virtual Branch              0.021848
Clermont                    0.021728
East Orlando                0.020360
Oviedo                      0.019472
Winter Garden               0.019404
Kissimmee                   0.018528
Merritt Island              0.018052
St. Cloud                   0.018044
South Orlando               0.017949
Downtown Campus             0.017727
Fern Park                   0.017293
Lake Nona                   0.017276
Pine Hills                  0.017020
Mills                       0.016685
MetroWest                   0.015673
Altamonte Springs           0.012606
Seminole State             -0.003270
Addition Financial Arena   -0.092593
UCF Commons                -0.111111
dtype: float64

C:\Users\danie\AppData\Local\Temp\ipykernel_9636\3917624523.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  last_6_months = filtered_branch_data[branch_data['EOM_TRANS_DATE'] >= filtered_branch_data['EOM_TRANS_DATE'].max() - pd.DateOffset(months=6)]